
~$emoria.docx
src/input.txt
out/production/FortranToC/input.txt
out/production/FortranToC/META-INF/FortranToC.kotlin_module
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
src/input.txt
out/production/FortranToC/input.txt
out/production/FortranToC/META-INF/FortranToC.kotlin_module
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
